.cont {
  margin-top: 70px;
  padding: 20px 40px;
  
  & > div {
    width: 30%;
  }
}

/* MEDIA QUERIES */
@media screen and (max-width: 800px) {
  .cont {
    padding: 20px;

    & > div {
      width: 45%;
    }
  }
}

@media screen and (max-width: 500px) {
  .cont {
    padding: 20px;

    & > div {
      width: 100%;
    }
  }
}
