.container {
  background-color: black;
  padding: 15px;

  display: flex;
  justify-content: space-between;

  & > div > a {
    text-decoration: none;
    margin-right: 10px;
    color: gray;
  }
}

.active {
  color: #fff !important;
}

// button {
//   padding: 2px 10px;
//   cursor: pointer;
// }
