.cont {
  margin-top: 70px;
  padding: 20px 40px;

  & > form > input {
    font-size: 1.3em;
    padding: 5px;
    margin-top: 5px;
  }
}

/* MEDIA QUERIES */
@media screen and (max-width: 800px) {
  .cont {
    padding: 20px;

    & > form > input {
      width: 100%;
    }
  }
}
